
 <form action="/registration" method="POST">
    <label >E-mail</label>
    <input type="text" id="email" name="email" placeholder="Digite o e-mail de destino..." />      
    <label >Nome</label>
    <input type="text" id="name" name="name" placeholder="Digite o seu nome..." />
    <label >Link</label>
    <input type="link" id="link" name="link" placeholder="Infome o Link..." />
    <input type="submit" value="Enviar"/>
</form>
